@model Library_Management_ASP.Net.Models.author

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<style>

    .centered-button {
        margin: 0 auto;
        width: 250px;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .btn btn-primary {
        width: 250px;
    }

    .form-control {
        width: 400px;
        margin-bottom: 0;
    }

    .form-horizontal {
        margin: auto;
        width: 50%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .control-label {
        padding-bottom: 7px;
    }

    .form-group {
        margin-bottom: 0px;
    }
</style>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/UpConstruction/assets/img/hero-carousel/13.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>AUTHOR</h2>

    </div>
</div><!-- End Breadcrumbs -->

<div style="box-sizing: border-box; padding: 5px; border: 1px solid #ccc; margin: 50px auto; width: calc(70% - 40px); height: calc(100% - 40px); text-align: center; font-weight:700">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id)

            <div class="form-group" style="margin-bottom: 10px; margin-top: 12px;">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 10px;">
                @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 15px;">
                @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success btn-block centered-button" style="margin-bottom: 10px; margin-top: 15px;" />
                </div>
            </div>
        </div>
    }

    <div style="margin-bottom: 8px;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-block centered-button" })
    </div>
</div>