@model IEnumerable<Library_Management_ASP.Net.Models.author>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<style>
    .linkler {
        text-align: right;
    }

        .linkler .btn {
            width: 100px; /* İstediğiniz genişlik değerini buradan ayarlayabilirsiniz */
            margin-right: 10px; /* Butonlar arasında boşluk bırakmak için */
        }

    table {
        table-layout: fixed;
        width: 100%;
    }

    th, td {
        width: calc(100% / 3); /* Tablonuzda üç sütun varsa */
    }
</style>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/UpConstruction/assets/img/hero-carousel/13.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>AUTHOR</h2>

    </div>
</div><!-- End Breadcrumbs -->

<div style="box-sizing: border-box; padding: 20px; border: 1px solid #ccc; margin: 50px auto; width: calc(70% - 40px); height: calc(100% - 40px);">

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    <br />
    <br />


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone)
                </td>
                <td class="linkler">
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
