@model Library_Management_ASP.Net.Models.book

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<style>

    .centered-button {
        margin: 0 auto;
        width: 250px;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .btn btn-primary {
        width: 250px;
    }

    .form-control {
        width: 400px;
        margin-bottom: 0;
    }

    .form-horizontal {
        margin: auto;
        width: 50%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .control-label {
        padding-bottom: 7px;
    }

    .form-group {
        margin-bottom: 0px;
    }

        .form-group .control-label {
            width: 150px; /* veya ihtiyacınıza göre başka bir değer belirleyin */
        }
</style>

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('/UpConstruction/assets/img/hero-carousel/13.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>BOOK</h2>

    </div>
</div><!-- End Breadcrumbs -->

<div style="box-sizing: border-box; padding: 5px; border: 1px solid #ccc; margin: 50px auto; width: calc(70% - 40px); height: calc(100% - 40px); text-align: center; font-weight:700">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group" style="margin-bottom: 6px; margin-top: 12px;">
                @Html.LabelFor(model => model.bname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.bname, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.bname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 6px;">
                @Html.LabelFor(model => model.cat_id, "cat_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("cat_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.cat_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 6px;">
                @Html.LabelFor(model => model.a_id, "a_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("a_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.a_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 6px;">
                @Html.LabelFor(model => model.p_id, "p_id", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("p_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.p_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 6px;">
                @Html.LabelFor(model => model.contents, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.contents, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.contents, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 6px;">
                @Html.LabelFor(model => model.pages, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pages, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pages, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 6px;">
                @Html.LabelFor(model => model.edition, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.edition, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.edition, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success btn-block centered-button" style="margin-bottom: 10px; margin-top: 15px;" />
                </div>
            </div>
        </div>
    }

    <div style="margin-bottom: 8px;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-block centered-button" })
    </div>
</div>